<div class="element-entry">
    <div class="element-entry-text">
        <div class="task-text">
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </div>
        <div class="user-info">
            @Html.DisplayFor(modelItem => item.FullName)
        </div>
        <div class=user-info>
            @Html.DisplayFor(modelItem => item.Category.CategoryName)
        </div>
    </div>

    <div class="element-entry-actions align-middle">
        <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.EmailAddress">Детали </a>
        <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.EmailAddress">Статистика </a>
        <a class="btn btn-outline-danger" asp-action="DeleteConfirm" asp-route-id="@item.EmailAddress">Удалить </a>
    </div>
</div>
<div style="position: fixed; right: 30px; bottom: 30px;">
    <button class="btn btn-main" (click)="modalService.open()">Пригласить</button>
</div>