<div class="row justify-content-md-center">
    <div class="col-10">
        <div *ngFor="let user of users; let i = index" class="element-entry">
            <div class="element-entry-text">
                <div class="task-text">
                    {{user.fullName}}
                </div>
                <div class=user-info>
                    {{user.jobTitle}}
                </div>
            </div>
    
            <div class="element-entry-actions align-middle">
                <button *ngIf="visibleFlags[i]" (click)="onInvite(user, i)" class="btn btn-outline-primary">Назначить </button>
            </div>
        </div>
    </div>
</div>
