.sidebar {
  width: 300px;
  background-color: #f1f1f1;
  padding: 20px;
  transition: transform 0.3s ease;
  transform: translateX(100%);
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 999;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #000;
  cursor: pointer;
}

.sidebar-buttons{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}