<div class="row justify-content-md-center">
    <div class="col-6">
        <div class="row">
            <div class="task-content">
                <h1>Задания</h1>
                <div *ngFor="let task of tasks" class="element-entry">
                    <div class="element-entry-text">
                        <div class="task-text">
                            {{task.taskName}}
                        </div>
                        <div class="task-info">
                            {{task.status}}
                        </div>
                        <div class="task-info">
                            {{task.startDate}}
                        </div>
                        <div class="task-info">
                            {{task.finishDate}}
                        </div>
                    </div>
                
                    <!--<div class="element-entry-actions align-middle">
                        <a routerLink="/workspace/{{}}" class="btn btn-outline-primary">Детали</a>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>