<div class="row text workspace-form">
    <div class="col-md-8 offset-2">
        <div class="row text">
            <div >
                <form [formGroup]="form" (ngSubmit)="submitWorkspace()">
                    <div class="form-group mb-2">
                        <label class="control-label">Название рабочего пространства </label>
                        <input formControlName="workspaceName" class="form-control"/>
                        <span *ngIf="workspaceName.errors?.required && workspaceName.touched" class="text-danger">Название является обязательным полем</span>
                    </div>
                    <div class="form-group mb-2">
                        <button type="submit" class="btn btn-main float-right">Создать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>